{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").tablesorter();

            <!-- navbar highlighting -->
            highlightMe(document.getElementById('studiengangverwaltungLink'));
        });
    </script>
    <div class="table-responsive">
        <ul>
            <li><a href="{{ path('studiengangErstellen') }}">Neuen Studiengang anlegen</a></li>
        </ul>

        <table id="table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th style="width: 150px">Abschluss</th>
                    <th>Studiengang</th>
                    <th style="width: 200px">Fachgebiete</th>
                    <th style="width: 200px">Studiengangleiter/in</th>
                </tr>
            </thead>
            <tbody>
            {% for gang in courses %}
                <tr>
                    <td>{{ gang['Grad'] }}</td>
                    <td><a href="{{ path('studiengangBearbeiten', {'courseID': gang['Studiengang_ID']}) }}">{{ gang['studiengangTitel'] ~ ' (' ~ gang['Kuerzel'] ~ ')' }}</a></td>
                    <td><a href="#">verwalten</a></td>
                    <td>{{ gang['dozentTitel'] ~ ' ' ~ gang['Nachname'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}