{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").tablesorter();

            <!-- navbar highlighting -->
            highlightMe(document.getElementById('studiengangverwaltungLink'));
        });
    </script>
    <h4 style="font-weight: bold">Studiengangübersicht</h4>
    <div class="table-responsive">
        <ul>
            <li><a href="{{ path('studiengangErstellen') }}">Neuen Studiengang anlegen</a></li>
        </ul>

        <table id="table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th style="">Studiengang</th>
                    <th style="">Abschluss</th>
                    <th style="">Studiengangleiter</th>
                </tr>
            </thead>
            <tbody>
            {% for gang in courses %}
                <tr>
                    <td><a href="{{ path('studiengangBearbeiten', {'courseID': gang['Studiengang_ID']}) }}">{{ gang['Studiengang'] }}</a></td>
                    <td>{{ gang['Grad'] }}</td>
                    <td>{{ gang['Titel']~' '~gang['Nachname'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {% if type == 'info' %}
                <script type="text/javascript">
                    alert('{{ message|raw }}');
                </script>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}