{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% form_theme form _self %}

    {% block form_row %}
        <tr class="form_row">
            <td>{{ form_label(form) }}</td>
            <td>{{ form_widget(form) }}</td>
            <td>{{ form_errors(form) }}</td>
        </tr>
    {% endblock form_row %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            <!-- navbar highlighting -->
            highlightMe(document.getElementById('benutzerverwaltungLink'));
        });
    </script>

    <h3>Benutzer anlegen/bearbeiten</h3>

    <div class="table-responsive">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <table class="table table-bordered">
            {{ form_errors(form) }}
            {{ form_row(form.anrede) }}
            {{ form_row(form.titel) }}
            {{ form_row(form.name) }}
            {{ form_row(form.nachname) }}
            {{ form_row(form.email) }}
            {#{{ form_row(form.password) }}#}
            {{ form_row(form.roles) }}
        </table>

        {% include '@FHBingenMHB/buttons.html.twig' %}
        {{ form_end(form) }}
    </div>

{% endblock %}