{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            <!-- navbar highlighting -->
            highlightMe(document.getElementById('benutzerverwaltungLink'));
        });
    </script>

    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Dozenten</th>
                <th>Studiengangleiter</th>
                <th>Neuer Nutzer</th>
            </tr>

            <tr>
                <td>
                    <ul>
                        {% for person in dozent %}
                            <li>
                                <a href="{{ path('benutzerBearbeiten', {'userid': person.getDozentenID()}) }}">{{ person }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for person in sgl %}
                            <li>
                                <a href="{{ path('benutzerBearbeiten', {'userid': person.getDozentenID()}) }}">{{ person }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{{ path('benutzerErstellen') }}">Nutzer anlegen</a></li>
                    </ul>
                </td>
            </tr>
        </table>
        {# TODO: Passwort-Reset ist experimentell, Abfrage fehlt #}
        {#
        <ul>
             <li><a href="{{ path('passwdReset') }}">Alle Passwörter zurücksetzen</a></li>
        </ul>
         #}
    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}