{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
    <tr class="form_row">
        <td>{{ form_label(form) }}</td>
        <td>{{ form_widget(form) }}</td>
        {# <td>{{ form_errors(form) }}</td> #}
    </tr>
{% endblock form_row %}

{% block form_widget_compound -%}
    {# notwending, damit es keine divs gibt #}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound %}

{% block content %}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var vertiefungCount = '{{ form.richtung|length }}';
        var fachgebietCount = '{{ form.fachgebiete|length }}';

        jQuery(document).ready(function () {
            jQuery('#add-another-vertiefung').click(function (e) {
                e.preventDefault();
                return addAnotherVertiefungsrichtung();
            });
            jQuery('#add-another-fachgebiet').click(function (e) {
                e.preventDefault();
                return addAnotherFachgebiet();
            });

            <!-- navbar highlighting -->
            highlightMe(document.getElementById('studiengangverwaltungLink'));
        });

        function addAnotherVertiefungsrichtung(){
            var richtungList = jQuery('#vertiefung-fields-list');

            // grab the prototype template
            var newWidget = richtungList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, vertiefungCount);

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);

            var link = jQuery('<a href="#">Vertiefungsrichtung entfernen</a>');
            link.click(function(e){
                e.preventDefault();
                newLi.remove();
            });

            newLi.append(link);
            newLi.appendTo(richtungList);
            vertiefungCount++;
        }

        function addAnotherFachgebiet(){
            var fachList = jQuery('#fachgebiet-fields-list');

            // grab the prototype template
            var newWidget = fachList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, fachgebietCount);

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);

            var link = jQuery('<a href="#">Fachgebiet entfernen</a>');
            link.click(function(e){
                e.preventDefault();
                newLi.remove();
            });

            newLi.append(link);
            newLi.appendTo(fachList);
            fachgebietCount++;
        }
    </script>

    <h4 style="font-weight: bold">Studiengang {{ studiengang.__toString() }} pflegen</h4>
    <div class="table-responsive">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <table class="table table-bordered">
            {{ form_errors(form) }}
            {{ form_row(form.fachbereich) }}
            {{ form_row(form.grad) }}
            {{ form_row(form.titel) }}
            {{ form_row(form.kuerzel) }}
            {{ form_row(form.beschreibung) }}
            {# TODO: entweder nur SGLs anzeigen oder Dozent beim Abschicken automatisch zu SGL promoten #}
            {{ form_row(form.sgl) }}
        </table>

        <h4 style="font-weight: bold">Vertiefungsrichtungen</h4>
        <ul id="vertiefung-fields-list" data-prototype=
            "{% filter escape %}
                {% include 'FHBingenMHBBundle:Prototypes:listItem.html.twig' with { 'items' : form.richtung.vars.prototype } %}
            {% endfilter %}">

            {% for vertiefungField in form.richtung %}
                <li>
                    {{ form_errors(vertiefungField) }}
                    {{ form_widget(vertiefungField) }}
                    <a href="#" onclick="jQuery(this).parent().remove()">Vertiefungsrichtung entfernen</a>
                </li>
            {% endfor %}
        </ul>
        <a id="add-another-vertiefung">Vertiefungsrichtung hinzufügen</a>

        <h4 style="font-weight: bold">Fachgebiete</h4>
        <ul id="fachgebiet-fields-list" data-prototype=
            "{% filter escape %}
                {% include 'FHBingenMHBBundle:Prototypes:listItem.html.twig' with { 'items' : form.fachgebiete.vars.prototype } %}
            {% endfilter %}">

            {% for fachgebiet in form.fachgebiete %}
                <li>
                    {{ form_errors(fachgebiet) }}
                    {{ form_widget(fachgebiet) }}
                    <a href="#" onclick="jQuery(this).parent().remove()">Fachgebiet entfernen</a>
                </li>
            {% endfor %}
        </ul>
        <a id="add-another-fachgebiet">Fachgebiet hinzufügen</a>

        {{ form_end(form) }}
    </div>
{% endblock %}