{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    {# TODO: Layout so sinnvoll? Keine Sortierung möglich#}
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Dozenten</th>
                <th>Studiengangleiter</th>
                <th>neuer Nutzer</th>
            </tr>

            <tr>
                <td>
                    <ul>
                        {% for person in dozent %}
                            <li>
                                {# TODO route alias#}
                                <a href="{{'/restricted/sgl/updateUsers/'~person.getDozentenID() }}">{{person}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for person in sgl %}
                            <li>
                                {# TODO route alias#}
                                <a href="{{'/restricted/sgl/updateUsers/'~person.getDozentenID() }}">{{person}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{{'/restricted/sgl/createUsers'}}">Nutzer anlegen</a></li>
                    </ul>
                </td>
            </tr>
        </table>
        <ul>
            <li><a href="{{ path('passwdReset') }}">Alle Passwörter zurücksetzen</a></li>
        </ul>
    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {%if type == 'info'%}
                <script>
                    alert('{{ message|raw }}');
                </script>
            {%endif%}
        {% endfor %}
    {% endfor %}

{% endblock %}