{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% form_theme form 'form_table_layout.html.twig' %}

{% block userLogout %}
{% endblock userLogout %}

{% block content %}
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<td colspan="10"><a href="#" class="add_tag_link">Add a tag</a></td>');
        var $newLink = $('<tr></tr>').append($addTagLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('table.tags');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function () {
                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLink);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLink);
            });
        });

        function addTagForm($collectionHolder, $newLink) {
            // Get the data-prototype explained earlier
            //var prototype = $collectionHolder.data('prototype');

            var prototypeStr = '{{ form_widget(form.tags.vars.prototype)|replace({'  ' : '', '\n' : ''})|raw }}'; //stripping whitespace
            prototypeStr = prototypeStr.replace(new RegExp('<[/]{0,1}table[^>]*>', 'g'), ''); //striping <table>...</table>
            prototypeStr = prototypeStr.replace(new RegExp('<[/]{0,1}tr>', 'g'), ''); //stripping <tr>...</tr>
            prototypeStr = prototypeStr.replace(new RegExp('(<input[^/]*\/><\/td>)', 'g'), '$1<td></td>'); //TODO: extra '<td></td>'s für errors
            var prototype = prototypeStr;

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newFormP = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newForm = $('<tr></tr>').append(newFormP);
            $newLink.before($newForm);

            // add a delete link to the new form
            addTagFormDeleteLink($newForm);
        }

        function addTagFormDeleteLink($tagForm) {
            var $removeForm = $('<td><a href="#">delete this tag</a></td>');
            $tagForm.append($removeForm);

            $removeForm.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagForm.remove();
            });
        }
    </script>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {{ form_row(form.description) }}

    <h3>Tags</h3>

    <table class="tags" {# data-protoype="{{ form_widget(form.tags.vars.prototype)|e }}" #}>
        {% if form.tags is not empty %}
            {% for tag in form.tags %}
                <tr class="form_row">
                    <td>{{ form_label(tag.name) }}</td>
                    <td>{{ form_widget(tag.name) }}</td>
                    <td>{{ form_errors(tag.name) }}</td>
                    <td>{{ form_label(tag.anotherField) }}</td>
                    <td>{{ form_widget(tag.anotherField) }}</td>
                    <td>{{ form_errors(tag.anotherField) }}</td>
                    <td>{{ form_label(tag.yetAnotherField) }}</td>
                    <td>{{ form_widget(tag.yetAnotherField) }}</td>
                    <td>{{ form_errors(tag.yetAnotherField) }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {# Damit bei leeren tags (z.B. neuer Task) nicht "Tags" unter dem Formular erscheint #}
            {{ form_widget(form.tags) }}
        {% endif %}
    </table>

    {% include '@FHBingenMHB/buttons.html.twig' %}

    {{ form_end(form) }}

{% endblock content %}