{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% form_theme form _self %}

    {% block form_row %}
        <tr class="form_row">
            <td>{{ form_label(form) }}</td>
            <td>{{ form_widget(form) }}</td>
            <td>{{ form_errors(form) }}</td>
        </tr>
    {% endblock form_row %}

{% block content %}
    <h3>Modul Bearbeiten</h3>
    <div class="table-responsive">

        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <table class="table table-bordered">
            {{ form_errors(form) }}
            {% if modul != NULL %}
            {{ modul.getName() }}
            {% endif %}
            {{ form_row(form.code) }}
        </table>
        {{ form_end(form) }}
    </div>


{% endblock %}