{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% form_theme form _self %}

    {% block form_row %}
        <tr class="form_row">
            <td>{{ form_label(form) }}</td>
            <td>{{ form_widget(form) }}</td>
            <td>{{ form_errors(form) }}</td>
        </tr>
    {% endblock form_row %}

{% block content %}
    <h3>Modul Bearbeiten</h3>
    <div class="table-responsive">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <table class="table table-bordered">
            {{ form_errors(form) }}
            {{ form_row(form.Status) }}
            {{ form_row(form.Leistungspunkte) }}
            {{ form_row(form.Kuerzel) }}
            {{ form_row(form.Name) }}
            {{ form_row(form.Name_en) }}
            {{ form_row(form.Haeufigkeit) }}
            {{ form_row(form.Dauer) }}
            {#{{ form_row(form.Lehrveranstaltungen) }}#}
            {{ form_row(form.Kontaktzeit_VL) }}
            {{ form_row(form.Kontaktzeit_sonstige) }}
            {{ form_row(form.Selbststudium) }}
            {{ form_row(form.Gruppengroesse) }}
            {{ form_row(form.Lernergebnisse) }}
            {{ form_row(form.Inhalte) }}
            {#{{ form_row(form.Pruefungsformen) }}#}
            {{ form_row(form.Sprache) }}
            {{ form_row(form.Literatur) }}
            {#{{ form_row(form.Voraussetzung_LP) }}#}
            {{ form_row(form.Voraussetzung_inh) }}
        </table>
        {{ form_end(form) }}
    </div>

{% endblock %}