{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{#bei Date wird immer |date('Y-m-d') benötigt um als String zu casten#}

{% block content %}

<div class="table-responsive">
    <h3>Veranstaltungs Übersicht</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Modul_ID</td>
            <td>{{ Titel['Modul_ID'] }} </td>
        </tr>
        <tr>
            <td>Kuerzel</td>
            <td>{{ Titel['Kuerzel'] }} </tr>
        <tr>
            <td>Name</td>
            <td>{{ Titel['Name'] }}</td>
        </tr>
        <tr>
            <td>Englischer Name</td>
            <td>{{ Titel['Name_EN'] }}</td>
        </tr>
        <tr>
            <td>Versionsnummer_Modul</td>
            <td>{{ Titel['Versionsnummer_Modul'] }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ Titel['Status'] }}</td>
        </tr>
        <tr>
            <td>Haeufigkeit</td>
            <td>{{ Titel['Haeufigkeit'] }}</td>
        </tr>
        <tr>
            <td>Dauer</td>
            <td>{{ Titel['Dauer'] }}</td>
        </tr>
        <tr>
            <td>Lehrveranstaltungen</td>
            <td>{{ Titel['Lehrveranstaltungen'] }}</td>
        </tr>
        <tr>
            <td>Kontaktzeit_VL</td>
            <td>{{ Titel['Kontaktzeit_VL'] }}</td>
        </tr>
        <tr>
            <td>Kontaktzeit_Sonstige</td>
            <td>{{ Titel['Kontaktzeit_Sonstige'] }}</td>
        </tr>
        <tr>
            <td>Selbststudium</td>
            <td>{{ Titel['Selbststudium'] }}</td>
        </tr>
        <tr>
            <td>Gruppengroesse</td>
            <td>{{ Titel['Gruppengroesse'] }}</td>
        </tr>
        <tr>
            <td>Lernergebnisse</td>
            <td>{{ Titel['Lernergebnisse'] }}</td>
        </tr>
        <tr>
            <td>Inhalte</td>
            <td>{{ Titel['Inhalte'] }}</td>
        </tr>
        <tr>
            <td>Sprache</td>
            <td>{{ Titel['Sprache'] }}</td>
        </tr>
        <tr>
            <td>Pruefungsformen</td>
            <td>{{ Titel['Pruefungsformen'] }}</td>
        </tr>
        <tr>
            <td>Literatur</td>
            <td>{{ Titel['Literatur'] }}</td>
        </tr>
        <tr>
            <td>Leistungspunkte</td>
            <td>{{ Titel['Leistungspunkte'] }}</td>
        </tr>
        <tr>
            <td>Voraussetzung_inh</td>
            <td>{{ Titel['Leistungspunkte'] }}</td>
        </tr>
        <tr>
            <td>Voraussetzung_LP</td>
            <td>{{ Titel['Voraussetzung_LP'] }}</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>
{% endblock %}
