{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <div class="table-responsive">
        <script type="text/javascript">
            $(document).ready(function () {
                $("#table").tablesorter();

                <!-- navbar highlighting -->
                highlightMe(document.getElementById('alleModuleLink'));
            });
        </script>
        {% if module is not empty %}
        <table id="table" class="table table-bordered tablesorter">
            <thead>
            <tr>
                <th>Modultitel</th>
                <th style="min-width: 70px; width: 7%">Kürzel</th>
                <th style="min-width: 80px; width: 10%">Erstelldatum</th>
                <th style="min-width: 120px; width: 15%">Häufigkeit</th>
                <th style="min-width: 120px; width: 19%">Modulbeauftragte/r</th>
                <th style="min-width: 120px; width: 19%">Autor</th>
                <th style="min-width: 200px; width: 20%">Studiengang</th>
                <th style="min-width: 120px; width: 13%">Alte Versionen</th>
            </tr>
            </thead>
            <tbody>
            {% for veranstaltung in module %}
                <tr>
                    <td>
                        <a href="{{ path('modulBearbeiten', {'id': veranstaltung.getModulID()}) }}">{{ veranstaltung.name }}</a>
                    </td>
                    <td>{{ veranstaltung.kuerzel }}</td>
                    <td>{{ veranstaltung.erstellungsdatum|date('d.m.Y') }}</td>
                    <td>{{ veranstaltung.haeufigkeit }}</td>
                    <td>{{ veranstaltung.beauftragter }}</td>
                    <td>{{ veranstaltung.autor }}</td>
                    <td>
                        {% set studiengaenge = [] %}
                        {% for angebot in veranstaltung.getAngebot() %}
                            {% set studiengaenge = studiengaenge|merge([angebot.getStudiengang()]) %}
                        {% endfor %}
                        {% for studiengang in studiengaenge|tostringsort %} {# TODO: Sortierung funktioniert nicht #}
                            {{ studiengang }}<br />
                        {% endfor %}
                        <a href=" {{ path('vorAngebot', {'modulID': veranstaltung.getModulID()}) }}">In weiterem Studiengang anbieten</a>
                    </td>
                    <td>
                        <a href="{{ path('alteVersionen', {'id': veranstaltung.getModulID()}) }}">Alte Versionen</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Zurzeit gibt es keine Module im System.</p>
        {% endif %}
    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}
