<!DOCTYPE html>
<html>
<head>
    <title>Deckblatt des Modulhandbuchs für den Studiengang {{ studiengang }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        #centerDiv {
            text-align: center;
            padding-top: 125px;
        }
        p#fachbereich {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="centerDiv">
        <h1>
            Modulhandbuch {{ studiengang }}<br />
            ({{ studiengang.kuerzel }})
        </h1>

        <br />

        {# TODO: Bild wird nicht geladen (nur bei PDF) - warum? #}
        <img src="{{ asset('bundles/fhbingenmhb/images/fh.png', absolute=true) }}" alt="FH Logo" width="450px" height="450px"/>

        <p id="fachbereich">
            {% if studiengang.fachbereich == 1 %}
                Fachbereich 1 - Life Sciences and Engineering
            {% endif %}
            {% if studiengang.fachbereich == 2 %}
                Fachbereich 2 - Technik, Informatik und Wirtschaft
            {% endif %}
        </p>

        <br />

        <p>
            {{ mhb.beschreibung }} <br />

            <br />
            <br />

            Studiengangleiter: {{ studiengang.sgl }}<br />
            Erstellt am {{ datum }}
        </p>
    </div>
</body>
</html>