{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{#
    mhbModulListe.html.twig deprecated
    TODO: löschen
#}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").tablesorter();

            <!-- navbar highlighting -->
            highlightMe(document.getElementById('mhbUebersichtLink'));
        });
    </script>
    <div class="table-responsive">
         <h3>{{ mhb.getBeschreibung() }} aus {{ mhb.getGehoertZu() }}  in Version {{ mhb.getVersionsnummer() }} </h3>
        <table id="table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Modul</th>
                    <th>Kürzel</th>
                    <th>Code</th>
                    <th>Version</th>
                    <th>Modulverantwortlicher</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
            {% for eintraege in mhbEintraege %}
                <tr>
                    <td><a href="{{ path('modulBearbeiten', {'id': eintraege.getAngebot.getVeranstaltung().getModulID()}) }}">{{ eintraege.getAngebot.getVeranstaltung.getName() }}</a></td>
                    <td>{{ eintraege.getAngebot().getVeranstaltung().getKuerzel() }}</td>
                    <td>{{ eintraege.getAngebot().getCode() }}</td>
                    <td>{{ eintraege.getAngebot().getVeranstaltung().getVersionsnummer() }}</td>
                    <td>{{ eintraege.getAngebot().getVeranstaltung().getBeauftragter() }}</td>
                    <td>{{ eintraege.getAngebot().getVeranstaltung().getAutor() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
