{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").tablesorter();

            <!-- navbar highlighting -->
            highlightMe(document.getElementById('mhbUebersichtLink'));
        });
    </script>
    <div class="table-responsive">
         <h3>{{ beschreibung.getBeschreibung() }}</h3>
        <table id="table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Modul</th>
                    <th>Kürzel</th>
                    <th>Code</th>
                    <th>Version</th>
                    <th>Modulverantwortlicher</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in mhb %}
                <tr>
                    <td><a href="{{ path('modulBearbeiten', {'id': entity.getAngebot.getVeranstaltung().getModulID()}) }}">{{ entity.getAngebot.getVeranstaltung.getName() }}</a></td>
                    <td>{{ entity.getAngebot().getVeranstaltung().getKuerzel() }}</td>
                    <td>{{ entity.getAngebot().getCode() }}</td>
                    <td>{{ entity.getAngebot().getVeranstaltung().getVersionsnummer() }}</td>
                    <td>{{ entity.getAngebot().getVeranstaltung().getBeauftragter() }}</td>
                    <td>{{ entity.getAngebot().getVeranstaltung().getAutor() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
