{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").tablesorter();
        });
    </script>
    <div class="table-responsive">
         <h3>{{ beschreibung[0]['Beschreibung'] }}</h3>
        <table id="table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Modul</th>
                    <th>Kürzel</th>
                    <th>Code</th>
                    <th>Version</th>
                    <th>Modulverantwortlicher</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in mhb %}
                <tr>
                    <td><a href="{{ path('modulBearbeiten', {'id': entity['Modul_ID']}) }}">{{ entity['Name'] }}</a></td>
                    <td>{{ entity['Kuerzel'] }}</td>
                    <td>{{ entity['Code'] }}</td>
                    <td>{{ entity['Versionsnummer'] }}</td>
                    <td>{{ entity['Titel']~' '~entity['Nachname'] }}</td>
                    <td>{{ entity['Autor'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
