{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").tablesorter();

            <!-- navbar highlighting -->
            highlightMe(document.getElementById('mhbUebersichtLink'));
        });
    </script>
    <div class="table-responsive">
        {# <h3>Modulhandbücher</h3> #}
        <table id="table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Download</th>
                    <th>Beschreibung</th>
                    <th>Studiengang</th>
                    <th style="min-width:85px">Autor</th>
                    <th>Gültig ab</th>
                    <th>Version</th>
                    <th>Erstellungsdatum</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in mhb|sort %}
                <tr>
                    <td><a href="{{ path('pdfDownload', {'mhbID': entity.getMHBID()}) }}">Download</a></td>
                    <td>{{ entity.Beschreibung }}</td>
                    <td>{{ entity.getGehoertZu() }}</td>
                    <td>{{ entity.Autor }}</td>
                    <td>{{ entity.getGueltigAb() }}</td>
                    <td>{{ entity.getVersionsnummer() }}</td>
                    {# bei Date wird immer |date('Y-m-d') benötigt um als String zu casten #}
                    <td>{{ entity.getErstellungsdatum()|date('d.m.Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}
