{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <style type="text/css">

        div#mhbWrapper {
            float: left;
            width: 45%;
        }

        ul.angebot {
            list-style-type: none;
            margin: 0 0 5px 0;
            padding: 5px 5px 0 5px;
        }

        ul.angebot li, ul#nichtMhb li {
            margin: 0 0 5px 0;
            text-align: center;
            background: url('{{ asset('bundles/fhbingenmhb/images/bg-white.jpg')}} ') top left repeat;
            min-height: 42px;
        }

        div#angeboteDiv, div#nichtMhbDiv, ul.angebot,
        ul.angebot li, ul#nichtMhb li {
            border: 1px solid gray;

        }

        div#nichtMhbWrapper {
            margin-left: 55%;
            width: 45%;
        }

        div#mhbWrapper, div#nichtMhbWrapper {
            text-align: center;
        }

        table.aussen th, table.aussen td {
            border: 1px solid gray;
            border-collapse: collapse;
        }

    </style>

    {% set keyOhneFachgebiet = 'Ohne Fachgebiet' %}

    <script type="text/javascript">
        $(document).ready(function () {
            highlightMe(document.getElementById('mhbErstellungLink'));
        });

        $(function () {
            {% for key in zuordnung|keys %}
                {% if key == '' %}
                    {% set myKey = keyOhneFachgebiet %}
                {% else %}
                    {% set myKey = key %}
                {% endif %}

                {% set js_MHB = 'jQuery("#' ~ myKey|replace({' ': '_'}) ~ '").height(jQuery("#' ~ myKey|replace({' ': '_'}) ~ '").height());' %}
                {% set js_NICHT_MHB = 'jQuery("#' ~ myKey|replace({' ': '_'}) ~ '_NICHT_MHB").height(jQuery("#' ~ myKey|replace({' ': '_'}) ~ '").height());' %}

                {% set connectLeftWithRight =
                    '$("#' ~ myKey|replace({' ': '_'}) ~ '").sortable({
                        appendTo: "body",
                        tolerance: "pointer",
                        connectWith: "#' ~ myKey|replace({' ': '_'}) ~ '_NICHT_MHB",
                        revert: "invalid",
                        forceHelperSize: true,
                        helper: "original",
                        placeholder: "angebot li",
                        scroll: true
                    }).disableSelection();'
                %}
                {% set connectRightWithLeft =
                    '$("#' ~ myKey|replace({' ': '_'}) ~ '_NICHT_MHB").sortable({
                        appendTo: "body",
                        tolerance: "pointer",
                        connectWith: "#' ~ myKey|replace({' ': '_'}) ~ '",
                        revert: "invalid",
                        forceHelperSize: true,
                        helper: "original",
                        placeholder: "angebot li",
                        scroll: true
                    }).disableSelection();'
                %}

                {{ js_MHB|raw }}
                {{ js_NICHT_MHB|raw }}

                {{ connectLeftWithRight|raw }}
                {{ connectRightWithLeft|raw }}
            {% endfor %}

        });

        function resetFunc(){
            {% for key in zuordnung|keys %}
                {% if key == '' %}
                    {% set myKey = keyOhneFachgebiet %}
                {% else %}
                    {% set myKey = key %}
                {% endif %}

                {# funktioniert das überhaupt? immer wieder 'var GLEICHERNAME =' ? #}
                {% set resetJS =
                    'var fachgebietTo = $("#' ~ myKey|replace({' ': '_'}) ~ '");
                    var fachgebietListItems = $("#' ~ myKey|replace({' ': '_'}) ~ '_NICHT_MHB").children("li");
                    for (var i = 0; i< fachgebietListItems.length; i++) {
                        fachgebietTo.append(fachgebietListItems[i]);
                    }'
                %}

                {{ resetJS|raw }}
            {% endfor %}
        }

    </script>

    {# TODO: Warnung, dass nur Angebote mit gültigem Modulcode gelistet werden #}

    <div id="mhbWrapper">

        <form method="POST" action="{{ path('mhbErstellungParsen') }}">
            <input type="hidden" name="mhbGueltigAb" value="{{ mhbGueltigAb }}"/>
            <input type="hidden" name="mhbBeschreibung" value="{{ mhbBeschreibung }}"/>

            <h3>Modulhandbuch</h3>

            <div id="angeboteDiv">
                {% for key in zuordnung|keys %}
                    <div class="angebotDiv">
                        {% if key == '' %}
                            {% set myKey = keyOhneFachgebiet %}
                        {% else %}
                            {% set myKey = key %}
                        {% endif %}
                        <h4>{{ myKey }}</h4>
                        <ul id="{{ myKey|replace({' ': '_'}) }}" class="angebot">

                        {% for angebot in zuordnung[key] %}
                            <li>
                                <input type="hidden" name="{{ angebot }}" value="{{ angebot.getAngebotsID() }}"/>
                                {{ angebot ~ ' (' ~ angebot.getAngebotsart() ~ ')' }} {# Angebotsart hier sinnvoll? #}
                                {# if Veranstaltung des Angebots seit letzter MHB-Erstullung geändert #}
                                {% if angebot.getVeranstaltung().getErstellungsdatum().getTimestamp() > neuestesMHBDateTime.getTimestamp() %}
                                    {# then Angebot als geändert markieren #}
                                    <span style="color: red">{{ 'GEÄNDERT' }}</span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="ourButtons">
                {# nicht type="reset", weil form nicht wirklich resetet wird #}
                <button class="btn btn-default" type="button" onclick="resetFunc()">zurücksetzen</button>
                <button class="btn btn-primary" type="submit">abschicken</button>
            </div>
        </form>

    </div>

    <div id="nichtMhbWrapper">
        <h3>NICHT_MHB</h3>

        <div id="nichtMhbDiv">
            {% for key in zuordnung|keys %}
                <div class="angebotDiv">
                    {% if key == '' %}
                        {% set myKey = keyOhneFachgebiet %}
                    {% else %}
                        {% set myKey = key %}
                    {% endif %}
                    <h4>{{ myKey }}</h4>
                    <ul id="{{ myKey|replace({' ': '_'}) ~ '_NICHT_MHB' }}" class="angebot">
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}