{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <style>
        #wrapThisUp {
            overflow: auto;
        }
        .angebote, #mhb {
            width: 300px;
            min-height: 20px;
            list-style-type: none;
            padding: 5px 0 0 0;
            /*float: left;*/
            overflow: auto;
        }

        .angebote li, #mhb li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 288px; /* 300 - 2 * (5px Abstand + 1px Rand) */
            background-color: white;
        }

        .angebote, #mhb, .angebote li, #mhb li {
            border: 1px solid;
        }
    </style>

    <script>
        $(document).ready(function () {
            highlightMe(document.getElementById('mhbErstellungLink'));
        });

        {#
            TODO: Sobald man scrollt geht das Feature kaputt. Warum?
            hier gehts O.o http://jsfiddle.net/yU8Ut/217/
            hat vllt mit jQuery und jQueryUI Version zu tun
        #}


        /* von http://jsfiddle.net/yU8Ut/ */
        $(function () {
            //jQuery("wrapThisUp").height(jQuery("wrapThisUp").height());


            $(".angebote").sortable({
                appendTo: 'body',
                tolerance: 'pointer',
                connectWith: '#mhb',
                revert: 'invalid',
                forceHelperSize: true,
                helper: 'original',
                scroll: true,
            }).disableSelection();

            $("#mhb").sortable({
                appendTo: 'body',
                tolerance: 'pointer',
                connectWith: '.angebote',
                revert: 'invalid',
                forceHelperSize: true,
                helper: 'original',
                scroll: true,
            }).disableSelection();

        });

    </script>

    <div id="wrapThisUp">

        {% for key in zuordnung|keys %}
            <div class="list">
                <h4>{{ key }}</h4>
                <ul id="{{ key }}" class="angebote {{ key|replace({' ': '_'}) }}">
                    {% for angebot in zuordnung[key] %}
                        <li>
                            <input type="hidden" name="{{ angebot }}" value="{{ angebot.getAngebotsID() }}"/>
                            {{ angebot }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <div class="list">
            {# TODO: vllt vorher $_POST leeren? wegen zurück button im browser #}
            <form method="POST" action="{{ path('mhbErstellungParsen') }}">
                <input type="hidden" name="mhbGueltigAb" value="{{ mhbGueltigAb }}"/>
                <input type="hidden" name="mhbBeschreibung" value="{{ mhbBeschreibung }}"/>


                <h4>MHB</h4>
                <ul id="mhb" class="
                mhb
                {% for key in zuordnung|keys %}
                    {{ key|replace({' ': '_'}) }}
                {% endfor %}
                ">
                    <li>test</li>
                </ul>
            </form>
        </div>
    </div>

    {% include '@FHBingenMHB/buttons.html.twig' %}

{% endblock %}