{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <style>
        .angebote, #mhb {
            /*border: 3px solid #eee;*/
            width: 300px;
            min-height: 20px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            /*float: left;*/
            margin-right: 10px;
        }

        .angebote li, #mhb li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 288px;
            /*border: 3px solid #eee;*/
        }

        .angebote, #mhb, .angebote li, #mhb li {
            border: 1px solid;
        }
    </style>

    <script>
        {# TODO: Sobald man scrollt geht das Feature kaputt. Warum? #}
        $(function () {
            //$("#mhb").sortable();
            $(".angebote").sortable({
                connectWith: "#mhb"
            });
            $("#mhb").sortable({
                connectWith: "#mhb, .angebote"
            });
        });
    </script>

    {% for key in zuordnung|keys %}
        <h4>{{ key }}</h4>
        <ul id="{{ key }}" class="angebote {{ key|replace({' ': '_'}) }}">
            {% for angebot in zuordnung[key] %}
                <li>
                    <input type="hidden" name="{{ angebot }}" value="{{ angebot.getAngebotsID() }}"/>
                    {{ angebot }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    {# TODO: vllt vorher $_POST leeren? wegen zurück button im browser #}
    <form method="POST" action="{{ path('mhbErstellungParsen') }}">
        {% if(mhbID is not null ) %}
            <input type="hidden" name="mhb" value="{{ mhbID }}"/>
        {% endif %}

        <h4>MHB</h4>

        <ul id="mhb" class="
            mhb
            {% for key in zuordnung|keys %}
                {{ key|replace({' ': '_'}) }}
            {% endfor %}
        ">
        </ul>

        {% include '@FHBingenMHB/buttons.html.twig' %}
    </form>

{% endblock %}