{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <style type="text/css">

        div#mhbWrapper {
            float: left;
            width: 45%;
        }

        div#angeboteDiv {
            /*padding: 5px 5px 0 5px;*/
            /*margin: 5px 0 0 0;*/
        }

        div.angebotDiv {

        }

        ul.angebot {
            list-style-type: none;
            margin: 0 0 5px 0;
            padding: 5px 5px 0 5px;
        }

        ul.angebot li {
            margin: 0 0 5px 0;
            text-align: center;
            background: url('{{ asset('bundles/fhbingenmhb/images/bg-white.jpg')}} ') top left repeat;
            min-height: 42px;
        }

        /*ul.angebot,*/
        ul.angebot li, div#angeboteDiv {
            border: 1px solid gray;

        }

        div#nichtMhbWrapper {
            /*float: right;*/
            margin-left: 55%;
        }

        div#mhbWrapper, div#nichtMhbWrapper {
            text-align: center;
        }

        table.aussen th, table.aussen td {
            border: 1px solid gray;
            border-collapse: collapse;
        }

        .tableWidth {
            width: 45%;
        }


    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            highlightMe(document.getElementById('mhbErstellungLink'));
        });

        $(function () {
            {% for key in zuordnung|keys %}
            {% set js = 'jQuery("#' ~ key|replace({' ': '_'}) ~ '").height(jQuery("#' ~ key|replace({' ': '_'}) ~ '").height());' %}
            {{ js|raw  }}
            {% endfor %}

            //jQuery("#angeboteWrapper").height(jQuery("#angeboteWrapper").height());
            //jQuery("#mhb").height(jQuery("#angeboteWrapper").height());
            //jQuery("#angeboteWrapper").height(jQuery("#mhbWrapper").height());

            $(".angebot").sortable({
                appendTo: 'body',
                tolerance: 'pointer',
                connectWith: '#nichtMhb',
                revert: 'invalid',
                forceHelperSize: true,
                helper: 'original',
                placeholder: "angebot li",
                scroll: true
            }).disableSelection();

            /*
             $("#mhb").sortable({
             appendTo: 'body',
             tolerance: 'pointer',
             connectWith: '.angebot',
             revert: 'invalid',
             forceHelperSize: true,
             helper: 'original',
             scroll: true
             }).disableSelection();
             */
        });

    </script>

    {# TODO: vllt vorher $_POST leeren? wegen zurück button im browser #}
    <form method="POST" action="{{ path('mhbErstellungParsen') }}">
        <input type="hidden" name="mhbGueltigAb" value="{{ mhbGueltigAb }}"/>
        <input type="hidden" name="mhbBeschreibung" value="{{ mhbBeschreibung }}"/>

        {#<table class="aussen tableBorder">#}
        {#<thead>#}
        {#<tr>#}
        {#<th class="tableWidth" style="width: 45%; text-align: center;"><h3>Modulhandbuch</h3></th>#}
        {#<th class="tableWidth" style="width: 45%; text-align: center;"><h3>NICHT_MHB</h3></th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#<tr>#}
        {#<td>#}
        {#<table>#}
        {#<thead>#}

        {#</thead>#}
        {#<tbody>#}
        {#{% set rows = 0 %}#}
        {#{% for key in zuordnung|keys %}#}
        {#<tr>#}
        {#<td>#}
        {#<h4>{{ key }}</h4>#}
        {#<ul id="{{ key|replace({' ': '_'}) }}" class="angebot">#}
        {#{% for angebot in zuordnung[key] %}#}
        {#<li>#}
        {#&#123;&#35;<label>&#35;&#125;#}
        {#<input type="hidden" name="{{ angebot }}" value="{{ angebot.getAngebotsID() }}"/>#}
        {#{{ angebot ~ ' (' ~ angebot.getAngebotsart() ~ ')' }} &#123;&#35; Angebotsart hier sinnvoll? &#35;&#125;#}
        {#&#123;&#35; if Veranstaltung des Angebots seit letzter MHB-Erstullung geändert &#35;&#125;#}
        {#{% if angebot.getVeranstaltung().getErstellungsdatum().getTimestamp() > neuestesMHBDateTime.getTimestamp() %}#}
        {#&#123;&#35; TODO: Achtung! Es wird nur auf das Datum, nicht auf Stunde, Minute, Sekunde überprüft &#35;&#125;#}
        {#&#123;&#35; then Angebot als geändert markieren &#35;&#125;#}
        {#<span style="color: red">{{ 'GEÄNDERT' }}</span>#}
        {#{% endif %}#}
        {#&#123;&#35;</label>&#35;&#125;#}
        {#</li>#}
        {#{% endfor %}#}
        {#</ul>#}
        {#</td>#}
        {#</tr>#}
        {#{% set rows = rows + 1 %}#}
        {#{% endfor %}#}
        {#</tbody>#}
        {#</table>#}
        {#</td>#}
        {#<td>#}
        {#<table>#}
        {#<thead>#}

        {#</thead>#}
        {#<tbody>#}
        {#<tr>#}
        {#<td>#}
        {#<ul>#}
        {#<li>test</li>#}
        {#<li>test</li>#}
        {#<li>test</li>#}
        {#</ul>#}
        {#</td>#}
        {#</tr>#}
        {#</tbody>#}
        {#</table>#}
        {#</td>#}
        {#</tr>#}
        {#</tbody>#}
        {#</table>#}


        <div id="mhbWrapper">
            <h3>Modulhandbuch</h3>

            <div id="angeboteDiv">
                {% for key in zuordnung|keys %}
                    <div class="angebotDiv">
                        <h4>{{ key }}</h4>
                        <ul id="{{ key|replace({' ': '_'}) }}" class="angebot">
                            {% for angebot in zuordnung[key] %}
                                <li>
                                    {#<label>#}
                                    <input type="hidden" name="{{ angebot }}" value="{{ angebot.getAngebotsID() }}"/>
                                    {{ angebot ~ ' (' ~ angebot.getAngebotsart() ~ ')' }} {# Angebotsart hier sinnvoll? #}
                                    {# if Veranstaltung des Angebots seit letzter MHB-Erstullung geändert #}
                                    {% if angebot.getVeranstaltung().getErstellungsdatum().getTimestamp() > neuestesMHBDateTime.getTimestamp() %}
                                        {# TODO: Achtung! Es wird nur auf das Datum, nicht auf Stunde, Minute, Sekunde überprüft #}
                                        {# then Angebot als geändert markieren #}
                                        <span style="color: red">{{ 'GEÄNDERT' }}</span>
                                    {% endif %}
                                    {#</label>#}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="ourButtons">
            {# <button class="btn btn-default" type="reset">zurücksetzen</button> #}
            <button class="btn btn-primary" type="submit">abschicken</button>
        </div>
    </form>

    <div id="nichtMhbWrapper">
        <h3>NICHT_MHB</h3>
        <ul>
        </ul>
    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}