{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <style>
        #angeboteWrapper {
            float: left;
        }

        #mhbWrapper {
            margin-left: 325px;
        }

        #mhb {

        }

        .angebote, #mhb {
            width: 300px;
            min-height: 20px;
            list-style-type: none;
            padding: 5px 0 0 0;
            /*float: left;*/
            overflow: auto;
        }

        .angebote li, #mhb li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 288px; /* 300 - 2 * (5px Abstand + 1px Rand) */
            background-color: white;
        }

        .angebote, #mhb, .angebote li, #mhb li {
            border: 1px solid;
        }
    </style>

    <script>
        $(document).ready(function () {
            highlightMe(document.getElementById('mhbErstellungLink'));
        });

        {#
            TODO: Sobald man scrollt geht das Feature kaputt. Warum?
            hier gehts O.o http://jsfiddle.net/yU8Ut/217/
            hat vllt mit jQuery und jQueryUI Version zu tun
        #}


        /* von http://jsfiddle.net/yU8Ut/ */
        $(function () {
            {% for key in zuordnung|keys %}
                {% set js = 'jQuery("#' ~ key|replace({' ': '_'}) ~ '").height(jQuery("#' ~ key|replace({' ': '_'}) ~ '").height());' %}
                {{ js|raw  }}
            {% endfor %}

            jQuery("#angeboteWrapper").height(jQuery("#angeboteWrapper").height());
            jQuery("#mhb").height(jQuery("#angeboteWrapper").height());
            jQuery("#angeboteWrapper").height(jQuery("#mhbWrapper").height());

            $(".angebote").sortable({
                appendTo: 'body',
                tolerance: 'pointer',
                connectWith: '#mhb',
                revert: 'invalid',
                forceHelperSize: true,
                helper: 'original',
                scroll: true
            }).disableSelection();

            $("#mhb").sortable({
                appendTo: 'body',
                tolerance: 'pointer',
                connectWith: '.angebote',
                revert: 'invalid',
                forceHelperSize: true,
                helper: 'original',
                scroll: true
            }).disableSelection();

        });

    </script>

    <div id="angeboteWrapper">
        {% for key in zuordnung|keys %}
            <h4>{{ key }}</h4>
            <ul id="{{ key|replace({' ': '_'}) }}" class="angebote">
                {% for angebot in zuordnung[key] %}
                    <li>
                        <label>
                            <input type="hidden" name="{{ angebot }}" value="{{ angebot.getAngebotsID() }}"/>
                            {{ angebot ~ ' (' ~ angebot.getAngebotsart() ~ ')' }} {# Angebotsart hier sinnvoll? #}
                            {# if Veranstaltung des Angebots seit letzter MHB-Erstullung geändert #}
                            {% if angebot.getVeranstaltung().getErstellungsdatum().getTimestamp() > neuestesMHBDateTime.getTimestamp() %}
                                {# TODO: Achtung! Es wird nur auf das Datum, nicht auf Stunde, Minute, Sekunde überprüft #}
                                {# then Angebot als geändert markieren #}
                                <span style="color: red">{{ 'GEÄNDERT' }}</span>
                            {% endif %}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>


    {# TODO: vllt vorher $_POST leeren? wegen zurück button im browser #}
    <form method="POST" action="{{ path('mhbErstellungParsen') }}">
        <input type="hidden" name="mhbGueltigAb" value="{{ mhbGueltigAb }}"/>
        <input type="hidden" name="mhbBeschreibung" value="{{ mhbBeschreibung }}"/>

        <div id="mhbWrapper">
            <h4>MHB</h4>
            <ul id="mhb">
            </ul>
        </div>

        <div class="ourButtons">
            {# <button class="btn btn-default" type="reset">zurücksetzen</button> #}
            <button class="btn btn-primary" type="submit">abschicken</button>
        </div>
    </form>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}