{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table-without-code").tablesorter();
            $("#table-with-code").tablesorter();

            <!-- navbar highlighting -->
            highlightMe(document.getElementById('modulcodeLink'));
        });
    </script>
    <div class="table-responsive">
        <h3>Module ohne Modulcode aus Studiengang {{ studiengang.__toString() }}</h3>
        {% if dummy is not empty %}
            <table id="table-without-code" class="table table-bordered tablesorter">
                <thead>
                <tr>
                    <th>Modultitel</th>
                    <th style="min-width: 130px; width: 12%">Modulcode</th>
                    <th style="min-width: 130px; width: 12%">Erstelldatum</th>
                    <th style="min-width: 130px; width: 12%">Autor</th>
                </tr>
                </thead>
                <tbody>
                {% for dummy in dummyAngebote %}
                    <tr>
                        <td><a href="{{ path('modulCodeErstellung', {'id': dummy.getVeranstaltung().getModulID(),
                                'studiengangid': dummy.getStudiengang().getStudiengangID()}) }}">{{ dummy.getVeranstaltung() }}</a>
                        </td>
                        <td>{{ dummy.getCode() }}</td>
                        {# bei Date wird immer |date('Y-m-d') benötigt um als String zu casten #}
                        <td>{{ dummy.getVeranstaltung().getErstellungsdatum()|date('d.m.Y') }}</td>
                        <td>{{ dummy.getVeranstaltung().getAutor() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Es gibt zurzeit keine Angebote ohne Modulcode in Ihrem Studiengang</p>
        {% endif %}

        <h3 style="margin-top: 50px">Module mit Modulcode aus Studiengang {{ studiengang.__toString() }}</h3>
        <table id="table-with-code" class="table table-bordered tablesorter">
            <thead>
            <tr>
                <th>Modultitel</th>
                <th style="min-width: 130px; width: 12%">Modulcode</th>
                <th style="min-width: 130px; width: 12%">Erstelldatum</th>
                <th style="min-width: 130px; width: 12%">Autor</th>
            </tr>
            </thead>
            <tbody>
            {% for normal in angebote %}
                <tr>
                    <td><a href="{{ path('modulCodeErstellung', {'id': normal.getVeranstaltung().getModulID(),
                            'studiengangid': normal.getStudiengang().getStudiengangID()}) }}">{{ normal.getVeranstaltung() }}</a>
                    </td>
                    <td>{{ normal.getCode() }}</td>
                    {# bei Date wird immer |date('Y-m-d') benötigt um als String zu casten #}
                    <td>{{ normal.getVeranstaltung().getErstellungsdatum()|date('d.m.Y') }}</td>
                    <td>{{ normal.getVeranstaltung().getAutor() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}