{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table-without-code").tablesorter();
            $("#table-with-code").tablesorter();
        });
    </script>
    <div class="table-responsive">
        <h3>Module ohne Modulcode aus {{ studiengang.__toString() }}</h3>
        <table id="table-without-code" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Modultitel</th>
                    <th style="min-width: 130px; width: 12%">Modulcode</th>
                    <th style="min-width: 130px; width: 12%">Erstelldatum</th>
                </tr>
            </thead>
            <tbody>
            {% for dummy in dummyAngebote %}
                <tr>
                    <td><a href="{{ path('modulCodeErstellung', {'id': dummy.getVeranstaltung().getModulID()}) }}">{{ dummy.getVeranstaltung() }}</a></td>
                    <td>{{ dummy.getCode() }}</td>
                    {# bei Date wird immer |date('Y-m-d') benötigt um als String zu casten #}
                    <td>{{dummy.getVeranstaltung().getErstellungsdatum()|date('d.m.Y')}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

       <h3 style="margin-top: 50px">Module mit Modulcode</h3>
        <table id="table-with-code" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Modultitel</th>
                    <th style="min-width: 130px; width: 12%">Modulcode</th>
                    <th style="min-width: 130px; width: 12%">Erstelldatum</th>
                </tr>
            </thead>
            <tbody>
            {% for normal in angebote %}
                <tr>
                    <td><a href="{{ path('modulCodeErstellung', {'id': normal.getVeranstaltung().getModulID()}) }}">{{ normal.getVeranstaltung() }}</a></td>
                    <td>{{ normal.getCode() }}</td>
                    {# bei Date wird immer |date('Y-m-d') benötigt um als String zu casten #}
                    <td>{{ normal.getVeranstaltung().getErstellungsdatum()|date('d.m.Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {% if type == 'info' %}
                <script type="text/javascript">
                    alert('{{ message|raw }}');
                </script>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}