{% if app.user %}
    {% if is_granted('ROLE_SGL') %}
        <li role="presentation" class="active">
            <a>Studiengangleiter</a>
        </li>

        <li role="presentation">
            <a id="alleModuleLink" href="{{ path('alleModule') }}">Modulübersicht (alle)</a>
        </li>
        <li role="presentation">
            <a id="modulAenderungenLink" href="{{ path('modulAenderungen') }}">Modulübersicht (geänderte)</a>
        </li>

        <li role="presentation">
            <a id="modulcodeLink" href="{{ path('modulCodeUebersicht') }}">Modulcodeübersicht</a>
        </li>

        <li role="presentation">
            <a id="mhbUebersichtLink" href="{{ path('mhbUebersicht') }}">Modulhandbuchübersicht</a>
        </li>

        <li role="presentation">
            <a id="mhbErstellungLink" href="{{ path('mhbErstellung') }}">Modulhandbucherstellung</a>
        </li>

        <li role="presentation">
            <a id="moduldeaktivierungLink" href=" {{ path('deaktivierungAlleModule') }}">Moduldeaktivierung</a>
        </li>

        <li role="presentation">
            <a id="semesterplanungLink" href=" {{ path('semesterListe') }}">Semesterplanung</a>
        </li>
    {% endif %}
{% endif %}
