{% if app.user %}
    {% if is_granted('ROLE_SGL') %}
        <li role="presentation" class="active">
            <a>Studiengangleiter</a>
        </li>

        <li role="presentation">
            <a href="{{ path('alleModule') }}">Modulansicht(alle)</a>
        </li>

        <li role="presentation">
            <a href="{{ path('modulCodeUebersicht') }}">Modulcodeübersicht</a>
        </li>

        <li role="presentation">
            <a href="{{ path('mhbUebersicht') }}">Modulhandbuchübersicht</a>
        </li>

        <li role="presentation">
            <a href=" {{ path('mhbErstellung') }} ">Modulhandbucherstellung</a>
        </li>

        <li role="presentation">
            <a href="#{# {{ path('moduldeaktivierung') }} #}">Moduldeaktivierung</a>
        </li>
    {% endif %}
{% endif %}
