{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{#bei Date wird immer |date('Y-m-d') benötigt um als String zu casten#}

{% block content %}

    <div class="table-responsive">
        <h3>Modulhandbücher</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Modul</th>
                <th>Kürzel</th>
                <th>Regelsemester</th>
                <th>Version</th>
                <th>Modulverantwortlicher</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in mhb %}
                <tr>
                        <td><a href="{{'/restricted/dozent/modulbearbeiten/'~entity['Modul_ID']}}">{{ entity['name'] }}</td>
                        <td>{{ entity['kuerzel'] }}</td>
                        <td>{{ entity['code'] }}</td>
                        <td>{{ entity['versionsnummer'] }}</td>
                        <td>{{ entity['titel']~' '~entity['nachname'] }}</td>

            </tbody>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
