{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{#bei Date wird immer |date('Y-m-d') benötigt um als String zu casten#}

{% block content %}

    <div class="table-responsive">
        <h3>Modulhanderstellung</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Modul</th>
                <th>Kürzel</th>
                <th>Version</th>
                <th>Regelsemester</th>
                <th>Modulverantwortlicher</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in angebote %}
                <tr>
                    <td><a href="{{'/restricted/dozent/modulbearbeiten/'~entity.getVeranstaltung().getModulID }}">{{ entity.getVeranstaltung().getName() }}</td>
                    <td>{{ entity.getVeranstaltung().getKuerzel() }}</td>
                    <td>{{ entity.getVeranstaltung().getVersionsnummer() }}</td>
                    <td>{{ entity.getVeranstaltung.getHaeufigkeit() }}</td>
                    <td>{{ entity.getVeranstaltung().getErstellungsdatum()|date('d.m.Y') }}</td>

            </tbody>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
