<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MHB-VS</title>

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/fhbingenmhb/css/bootstrap.css') }}" rel="stylesheet">
    <!-- own Styles -->
    <link href="{{ asset('bundles/fhbingenmhb/css/index.css') }}" rel="stylesheet">

</head>
<body>

<div id="header" class="navbar navbar-default navbar-fixed-top navbar-header navbar-brand" style="min-height:75px">
        <img src="{{ asset('bundles/fhbingenmhb/images/logo.png') }}" alt="logo"/>
        <span>{{ pageTitle|default }}</span>
</div>

<div id="wrapper">
    <div id="main">
        <div class="page-header">
            <h3>{{ headline|default }}</h3>
        </div>
        {% block content %}

        {% endblock %}
    </div>
</div>

</body>
</html>