{% extends "::base.html.twig" %}

{% block title %}Formulartest{% endblock %}

{% block body %}
    <h1>Hier soll mal ein Modulhandbuch-Formular zu sehen sein</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_row(form.gueltig_ab) }}
    {{ form_row(form.gehoert_zu) }}
    {{ form_row(form.beschreibung) }}
    {{ form_end(form) }}

{% endblock %}