{% extends "::base.html.twig" %}

{# TODO: löschen, wenn InsertFormController gelöscht wurde #}

{% block title %}Formulartest{% endblock %}

{% form_theme form _self %}
{# form_row.html.twig #}
{% block form_row %}
    <tr class="form_row">
        <td>{{ form_label(form) }}</td>
        <td>{{ form_widget(form) }}</td>
        <td>{{ form_errors(form) }}</td>
    </tr>
{% endblock form_row %}

{% block body %}
    <h1>Hier soll mal ein Modulhandbuch-Formular zu sehen sein</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <table>
        {{ form_row(form.gueltig_ab) }}
        {{ form_row(form.gehoert_zu) }}
        {{ form_row(form.beschreibung) }}
    </table>
    {{ form_end(form) }}

{% endblock %}