{% extends "::base.html.twig" %}

{% block title %}Formulartest{% endblock %}

{% form_theme form _self %}
{# form_row.html.twig #}
{% block form_row %}
    <tr class="form_row">
        <td>{{ form_label(form) }}</td>
        <td>{{ form_widget(form) }}</td>
        <td>{{ form_errors(form) }}</td>
    </tr>
{% endblock form_row %}

{% block body %}
    <h1>Hier soll mal ein Studienplan-Formular zu sehen sein</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <table>
        {{ form_row(form.reg_sem) }}
        {{ form_row(form.start_sem_) }}
        {{ form_row(form.modul) }}
        {{ form_row(form.studiengang) }}
    </table>
    {{ form_end(form) }}

{% endblock %}