{% extends "::base.html.twig" %}

{% block title %}Formulartest{% endblock %}

{% block body %}
    <h1>Hier soll mal ein Studienplan-Formular zu sehen sein</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_row(form.regelsemester) }}
    {{ form_row(form.startsemester) }}
    {{ form_row(form.veranstaltung) }}
    {{ form_row(form.studiengang) }}
    {{ form_end(form) }}

{% endblock %}