{% extends "::base.html.twig" %}

{% block title %}Formulartest{% endblock %}

{% form_theme form _self %}
{# form_row.html.twig #}
{% block form_row %}
    <tr class="form_row">
        <td>{{ form_label(form) }}</td>
        <td>{{ form_widget(form) }}</td>
        <td>{{ form_errors(form) }}</td>
    </tr>
{% endblock form_row %}

{% block body %}
    <h1>Hier soll ein Veranstaltung-Formular zu sehen sein</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <table>
        {{ form_row(form.erstellt.email) }}
        {{ form_row(form.basic.Status) }}
        {{ form_row(form.basic.Kuerzel) }}
        {{ form_row(form.basic.Name) }}
        {{ form_row(form.basic.Name_en) }}
        {{ form_row(form.basic.Haeufigkeit) }}
        {{ form_row(form.basic.Dauer) }}
        {{ form_row(form.basic.Lehrveranstaltungen) }}
        {{ form_row(form.basic.Kontaktzeit_VL) }}
        {{ form_row(form.basic.Kontaktzeit_sonstige) }}
        {{ form_row(form.basic.Selbststudium) }}
        {{ form_row(form.basic.Gruppengroesse) }}
        {{ form_row(form.basic.Lernergebnisse) }}
        {{ form_row(form.basic.Inhalte) }}
        {{ form_row(form.basic.Pruefungsformen) }}
        {{ form_row(form.basic.Sprache) }}
        {{ form_row(form.basic.Literatur) }}
        {{ form_row(form.basic.Leistungspunkte) }}
        {{ form_row(form.basic.Voraussetzung_LP) }}
        {{ form_row(form.basic.Voraussetzung_inh) }}
        {{ form_row(form.beauftragt.email) }}
    </table>
    {{ form_end(form) }}

{% endblock %}
