{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
    <tr class="form_row">
        <td>{{ form_label(form) }}</td>
        <td>{{ form_widget(form) }}</td>
        <td>{{ form_errors(form) }}</td>
    </tr>
{% endblock form_row %}

{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {# added <br /> for nicer layout of checboxes #}
        <br />
    {%- endif %}
{%- endblock form_label %}

{% block content %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            <!-- navbar highlighting -->
            highlightMe(document.getElementById('modulplanungLink'));
        });
    </script>

    <div class="table-responsive">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <table class="table table-bordered">
            {{ form_errors(form) }}
            <tr>
                <td colspan="3" style="color:red"> Mit [#] gekennzeichnete Felder sind Pflichtfelder</td>
            </tr>
            {{ form_row(form.name) }}
            {{ form_row(form.nameEN) }}
            {{ form_row(form.kuerzel) }}
            {{ form_row(form.haeufigkeit) }}
            {{ form_row(form.dauer) }}
            {{ form_row(form.leistungspunkte) }}
            {{ form_row(form.kontaktzeitVL) }}
            {{ form_row(form.kontaktzeitSonstige) }}
            {{ form_row(form.gruppengroesse) }}
            {{ form_row(form.lernergebnisse) }}
            {{ form_row(form.inhalte) }}
            {{ form_row(form.sprache) }}
            {{ form_row(form.SpracheSonstiges) }}
            {{ form_row(form.literatur) }}
            {{ form_row(form.voraussetzungInh) }}
            {{ form_row(form.lehrveranstaltungen) }}
            {{ form_row(form.pruefungsformen) }}
            {{ form_row(form.PruefungsformSonstiges) }}
            {{ form_row(form.voraussetzungLP) }}
            {{ form_row(form.PruefungsleistungSonstiges) }}
            {{ form_row(form.StudienleistungSonstiges) }}
        </table>

        {% include '@FHBingenMHB/buttons.html.twig' %}
        {{ form_end(form) }}
    </div>

    {% include '@FHBingenMHB/flashbags.html.twig' %}

{% endblock %}